.enter-form {
    width: 645px;
    padding: 50px;

    .btn {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .btn-link,
    a {
        text-decoration: none;
        font-size: 14px;
        line-height: 21px;
        font-weight: 400;
    }
}
